<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Artist</th>
        <th>Type</th>
        <th>Album Art</th>
        <th>Restaurant</th>
        <th>Delicious Imagery</th>
        <th>Rating</th>
        <th>Favorite This! </th>
      </tr>
    </thead>
    <tbody>
    <% @pairing_suggestions.each do |music, food| %>
      <tr>
        <td><%= link_to(music.name, "#{music.link}") %></td>
        <td><%= music.type %></td>
        <td><%= image_tag("#{music.image}", :class => 'album-art')%></td>
        <td><%= link_to(food.name, "#{food.link}") %></td>
        <td><%= image_tag("#{food.image}")%></td>
        <td>
          <%= food.rating[:stars] %>
          <%= image_tag("#{food.rating[:stars_image]}") %>
        </td>
        <td>
            <a href="#"><i class="fa fa-heart-o" />
        </td>
      </tr>
    <% end %>
    </tbody>        
  </table>
</div>

<!-- 

For Music: 
  Done => name of the music item, linking to appropriate Spotify page
  Done => type of the music item (artist, album, track, or playlist)
  Done => photo/album cover of the music item
  => optional: embedded Spotify player

For Food: 
  Done => name of the business, linking to appropriate Yelp page
  Done => photo/logo of the business
  => optional: phone number of the business
  => optional: address of the business 

-->