<h3>
  Music 
</h3>
<% @music_suggestions.each do |suggestion| %>
  <li>
    <%= link_to(suggestion.name, "#{suggestion.link}") %>
    <%= image_tag("#{suggestion.image}")%>
    <%= suggestion.type %>
  </li>
<% end %>

<h3>
  Food
</h3>
<% @food_suggestions.each do |suggestion| %>
  <li>
    <%= link_to(suggestion.name, "#{suggestion.link}") %>
    <%= image_tag("#{suggestion.image}") %>
    <%= suggestion.rating[:stars] %>
    <%= image_tag("#{suggestion.rating[:stars_image]}") %>
  </li>
<% end %>
<!-- 

For Music: 
  Done => name of the music item, linking to appropriate Spotify page
  Done => type of the music item (artist, album, track, or playlist)
  => photo/album cover of the music item
  => optional: embedded Spotify player

For Food: 
  => name of the business, linking to appropriate Yelp page
  => photo/logo of the business
  => optional: phone number of the business
  => optional: address of the business 

-->